<div id="c-lang" class="bg-warning text-primary">C-Language :</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-3">
            
                <div class="card">
                    <div class="card-img-top">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                    </div>
                    
                        
                            <ul>
                                <li class="lead">Author: xyz</li>
                                <li class="lead">Book : mthematics</li>
                                <li class="lead">Price: Rs.58</li>
                                <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                                 <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                            </ul>
                        
                        
                    
                </div>
                
                
            
        </div>

        <div class="col-md-3">
            
            <div class="card">
                <div class="card-img-top">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                </div>
                
                    
                        <ul>
                            <li class="lead">Author: xyz</li>
                            <li class="lead">Book : mthematics</li>
                            <li class="lead">Price: Rs.58</li>
                            <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                             <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                        </ul>
                    
                    
                
            </div>
            
            
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81nkhFj2wkL.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
       
    </div>
    <div class="row justify-content-around mt-5">
        <div class="col-md-3">
            
                <div class="card">
                    <div class="card-img-top">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                    </div>
                    
                        
                            <ul>
                                <li class="lead">Author: xyz</li>
                                <li class="lead">Book : mthematics</li>
                                <li class="lead">Price: Rs.58</li>
                                <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                                 <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                            </ul>
                        
                        
                    
                </div>
                
                
            
        </div>

        <div class="col-md-3">
            
            <div class="card">
                <div class="card-img-top">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                </div>
                
                    
                        <ul>
                            <li class="lead">Author: xyz</li>
                            <li class="lead">Book : mthematics</li>
                            <li class="lead">Price: Rs.58</li>
                            <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                             <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                        </ul>
                    
                    
                
            </div>
            
            
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
       
    </div>
    <div class="row justify-content-around mt-5">
        <div class="col-md-3">
            
                <div class="card">
                    <div class="card-img-top">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                    </div>
                    
                        
                            <ul>
                                <li class="lead">Author: xyz</li>
                                <li class="lead">Book : mthematics</li>
                                <li class="lead">Price: Rs.58</li>
                                <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                                 <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                            </ul>
                        
                        
                    
                </div>
                
                
            
        </div>

        <div class="col-md-3">
            
            <div class="card">
                <div class="card-img-top">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                </div>
                
                    
                        <ul>
                            <li class="lead">Author: xyz</li>
                            <li class="lead">Book : mthematics</li>
                            <li class="lead">Price: Rs.58</li>
                            <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                             <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                        </ul>
                    
                    
                
            </div>
            
            
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
       
    </div>
    <div class="row justify-content-around mt-5">
        <div class="col-md-3">
            
                <div class="card">
                    <div class="card-img-top">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                    </div>
                    
                        
                            <ul>
                                <li class="lead">Author: xyz</li>
                                <li class="lead">Book : mthematics</li>
                                <li class="lead">Price: Rs.58</li>
                                <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                                 <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                            </ul>
                        
                        
                    
                </div>
                
                
            
        </div>

        <div class="col-md-3">
            
            <div class="card">
                <div class="card-img-top">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
                </div>
                
                    
                        <ul>
                            <li class="lead">Author: xyz</li>
                            <li class="lead">Book : mthematics</li>
                            <li class="lead">Price: Rs.58</li>
                            <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                             <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                        </ul>
                    
                    
                
            </div>
            
            
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
    <div class="col-md-3">
            
        <div class="card">
            <div class="card-img-top">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81Ui7bZif6L.jpg" alt="">
            </div>
            
                
                    <ul>
                        <li class="lead">Author: xyz</li>
                        <li class="lead">Book : mthematics</li>
                        <li class="lead">Price: Rs.58</li>
                        <li class="mr-3"><button class="btn btn-block btn-info ">add to cart</button></li>
                         <li class="mr-3 mt-2"><button class="btn btn-block btn-warning ">pay</button></li>
                    </ul>
                
                
            
        </div>
        
    </div>
       
    </div>
</div>