<div id="page-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mt-3  " id="sidenav" style="height:500px;" >
                <div class="text-center"><h5>SELECT SEMESTER</h5></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item "><a href="#sem3" class=" text-light">SEM-3</a></li>
                    <li class="list-group-item text-light"><a href="#sem4" class=" text-light">SEM-4</a></li>
                    <li class="list-group-item text-light"><a href="#sem5" class=" text-light">SEM-5</a></li>
                    <li class="list-group-item text-light"><a href="#sem6" class=" text-light">SEM-6</a></li>
                    <li class="list-group-item text-light"><a href="#sem7" class=" text-light">SEM-7</a></li>
                    <li class="list-group-item text-light"><a href="#sem8" class=" text-light">SEM-8</a></li>
                </ul>
            </div>
            
            <div class="col-md-10">
               <div class="jumbotron" > 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem3" style="position:relative;top:-40px"><h4 style="color:white" >SEM-3</h4></a></div>
                </div>
                <div class="row pl-5 mt-3 justify-content-around" id="block1" style="position:relative;top:-50px;">
                    <div class="col-md-3 shadow text-center"> <a routerLink="/maths">CAO</a> </div>
                    <div class="col-md-3 shadow text-center" ><a routerLink="/language">C-Language</a></div>
                    <div class="col-md-3 shadow text-center"> <a routerLink="/cao">MATHEMATICS</a> </div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 justify-content-around" id="block2" style="position:relative;top:-40px">
                    <div class="col-md-3 shadow text-center"><a routerLink="/deam">DEAM</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ethics">ETHICS</a></div>
                    <div class="offset-md-3"></div>
                </div>
               </div>
               <div class="jumbotron bg-warning"> 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem4" style="position:relative;top:-40px"><h4 style="color:white">SEM-4</h4></a></div>
                </div>
                <div class="row pl-5 mt-3 justify-content-around" id="block1" style="position:relative;top:-50px;">
                    <div class="col-md-3 shadow text-center"><a routerLink="/dmgt">DMGT</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ami">AMI</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/toc">TOC</a></div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 justify-content-around" id="block2" style="position:relative;top:-40px">
                    <div class="col-md-3 shadow text-center"><a routerLink="/dspd">DSPD</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/imfl">IMFL</a></div>
                    <div class="offset-md-3"></div>
                </div>
               </div>
               <div class="jumbotron bg-warning"> 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem5" style="position:relative;top:-40px"><h4 style="color:white" >SEM-5</h4></a></div>
                </div>
                <div class="row pl-5 mt-3 justify-content-around" id="block1" style="position:relative;top:-50px;">
                    <div class="col-md-3 shadow text-center"><a routerLink="/dcom">DCOM</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/oom">OOM</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/dbms">DBMS</a></div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 justify-content-around" id="block2" style="position:relative;top:-40px">
                    <div class="col-md-3 shadow text-center"><a routerLink="/daa">DAA</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/os">OS</a></div>
                    <div class="offset-md-3"></div>
                </div>
               </div>
               <div class="jumbotron bg-warning"> 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem6" style="position:relative;top:-40px"><h4 style="color:white">SEM-6</h4></a></div>
                </div>
                <div class="row pl-5 mt-3 justify-content-around" id="block1" style="position:relative;top:-50px;">
                    <div class="col-md-3 shadow text-center"><a routerLink="/cg">CG</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/esd">ESD</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/sepm">SEPM</a></div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 justify-content-around" id="block2" style="position:relative;top:-40px">
                    <div class="col-md-3 shadow text-center"><a routerLink="/fe">FE</a></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/cn">CN</a></div>
                    <div class="offset-md-3"></div>
                </div>
               </div>
               <div class="jumbotron bg-warning"> 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem7" style="position:relative;top:-40px"><h4 style="color:white" >SEM-7</h4></a></div>
                </div>
                <div class="row pl-5 mt-3  " id="block1" style="position:relative;top:-50px;">
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/compiler">COMPILER</a></div>
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ai">AI</a></div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 " id="block2" style="position:relative;top:-40px">
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ele1">ELE-1</a></div>
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ele2">ELE-2</a></div>
                    
                </div>
               </div>
               <div class="jumbotron bg-warning"> 
                <div class="row   mb-5">
                    <div class="col-md-2 " id="subheading"><a href="" name="sem8" style="position:relative;top:-40px"><h4 style="color:white">SEM-8</h4></a></div>
                </div>
                <div class="row pl-5 mt-3  " id="block1" style="position:relative;top:-50px;">
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/dwm">DWM</a></div>
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/cis">CIS</a></div>
                    
                    
                </div>
                <div class="row pl-5 mt-5 " id="block2" style="position:relative;top:-40px">
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ele3">ELE-3</a></div>
                    <div class="offset-md-2"></div>
                    <div class="col-md-3 shadow text-center"><a routerLink="/ele4">ELE-4</a></div>
                    
                </div>
               </div>
               
            </div>
        </div>
    </div>
</div>
